<%= flash[:notice] %>
<div class="container px-5 px-sm-0">
  <div class="row">
<%= render 'books/book', book: @new_book, user: @user %>
<div class="col-md 8offset-md-1">
<h2>Book detail</h2>
<table class="table table-inverse">
  <tbody>
    <tr>
      <td>
<% if @book.errors.any? %>
  <%= @book.errors.count %>件のエラーが発生しました
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

          <%= image_tag @book.user.get_profile_image(100,100) %>
      <br>
          <%= link_to @user.name %>

      </td>
      <td>
          <%= link_to @book.title, book_path(@book) %>

      </td>
      <td>
        <%= @book.body %>
      </td>
      <td>
        <%= link_to edit_book_path(@book.id), class: "btn btn-success btn-sm btn-block mb-3 edit_user" do %>
        edit
        <% end %>
      <td>
        <% if @book.user == current_user %>
          <%= link_to book_path(@book.id), method: :delete, "data_confirm" => "本当に削除しますか？", class: "btn btn-sm btn-danger" do %>
          destroy
          <% end %>
        <% end %>
      </td>

    </tr>
  </tbody>
</table>
    </div>
  </div>
</div>